// Code
code {
  font-family: $mono-family;
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt" 1;
  font-variant-ligatures: normal;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  // font-size: inherit;
  font-size: 95%;

  &.highlighter-rouge {
    font-size: 90%;
    padding: 1px 3px;
    position: relative;
    top: -1px;
    background-color: #dddbe2;  // change to pale lilac
    border-radius: 2px;
    border: 1px solid rgba(128,128,128,0.1);
  }
}

// Codeblock Theme
pre.highlight, pre {
  // margin: 0 -27px;
  @include media-query($on-mobile) {
    // margin: 0 calc(51% - 51vw); // change code margin on mobile
    margin: 0 calc(53% - 51vw); // change code margin on mobile
    padding-left: 10px;
  }
  // border: 1px solid rgba(128,128,128,0.1);
  border: 1px solid $smoke;
  margin: -0.3em;
  // background-color: #1a1b21;
  // background-color: #2d2d2d; // dark brown
  border-radius: 0.5em; // change to round border
  padding: 20px;
  display: block;
  overflow-x: auto;


  > code {
    width: 100%;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    display: block;
    border: 0;
  }
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

// .highlight,
// .highlight .w {
//   // color: #fbf1c7;
//   color: #cccccc; // tomorrow night
//   // background-color: #1a1b21;
// }

// .highlight .err {
//   // color: #fb4934;
//   color: #f2777a;
//   // background-color: #1a1b21;
//   font-weight: bold;
// }

// .highlight .c,
// .highlight .cd,
// .highlight .cm,
// .highlight .c1,
// .highlight .cs {
//   color: #928374;
//   font-style: italic;
// }

// .highlight .cp {
//   color: #8ec07c;
// }

// .highlight .nt {
//   // color: #fb4934;
//   color: #cc99cc;
// }

// .highlight .o,
// .highlight .ow {
//   // color: #fbf1c7;
//   color: #6699cc;
// }

// .highlight .p,
// .highlight .pi {
//   color: #fbf1c7;
// }

// .highlight .gi {
//   color: #b8bb26;
//   background-color: #282828;
// }

// .highlight .gd {
//   // color: #fb4934;
//   color: #cc99cc;
//   background-color: #282828;
// }

// .highlight .gh {
//   color: #b8bb26;
//   font-weight: bold;
// }

// .highlight .k,
// .highlight .kn,
// .highlight .kp,
// .highlight .kr,
// .highlight .kv {
//   // color: #fb4934;
//   color: #cc99cc;
// }

// .highlight .kc {
//   color: #d3869b;
// }

// .highlight .kt {
//   color: #fabd2f;
// }

// .highlight .kd {
//   color: #fe8019;
// }

// .highlight .s,
// .highlight .sb,
// .highlight .sc,
// .highlight .sd,
// .highlight .s2,
// .highlight .sh,
// .highlight .sx,
// .highlight .s1 {
//   // color: #b8bb26;
//   color: #99cc99; // string
//   font-style: italic;
// }

// .highlight .si {
//   // color: #b8bb26;
//   color: #99cc99;
//   font-style: italic;
// }

// .highlight .sr {
//   // color: #b8bb26;
//   color: #99cc99;
//   font-style: italic;
// }

// .highlight .se {
//   color: #fe8019;
// }

// .highlight .nn {
//   // color: #8ec07c;
//   color: #ffcc66;
// }

// .highlight .nc {
//   // color: #8ec07c;
//   color: #ffcc66;
// }

// .highlight .no {
//   color: #d3869b;
// }

// .highlight .na {
//   color: #b8bb26;
// }

// .highlight .m,
// .highlight .mf,
// .highlight .mh,
// .highlight .mi,
// .highlight .il,
// .highlight .mo,
// .highlight .mb,
// .highlight .mx {
//   color: #d3869b;
// }

// .highlight .ss {
//   color: #83a598;
// }

// jekyll-pygments-themes/manni.css

.highlight .hll { background-color: #f1efef }
.highlight  { background: #f1efef; }
.highlight .c { color: #0099FF; font-style: italic } /* Comment */
.highlight .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #006699; font-weight: bold } /* Keyword */
.highlight .o { color: #555555 } /* Operator */
.highlight .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #009999 } /* Comment.Preproc */
.highlight .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.highlight .go { color: #AAAAAA } /* Generic.Output */
.highlight .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #99CC66 } /* Generic.Traceback */
.highlight .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #006699 } /* Keyword.Pseudo */
.highlight .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #FF6600 } /* Literal.Number */
.highlight .s { color: #CC3300 } /* Literal.String */
.highlight .na { color: #330099 } /* Name.Attribute */
.highlight .nb { color: #336666 } /* Name.Builtin */
.highlight .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.highlight .no { color: #336600 } /* Name.Constant */
.highlight .nd { color: #9999FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #CC00FF } /* Name.Function */
.highlight .nl { color: #9999FF } /* Name.Label */
.highlight .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #330099; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #003333 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #FF6600 } /* Literal.Number.Float */
.highlight .mh { color: #FF6600 } /* Literal.Number.Hex */
.highlight .mi { color: #FF6600 } /* Literal.Number.Integer */
.highlight .mo { color: #FF6600 } /* Literal.Number.Oct */
.highlight .sb { color: #CC3300 } /* Literal.String.Backtick */
.highlight .sc { color: #CC3300 } /* Literal.String.Char */
.highlight .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #CC3300 } /* Literal.String.Double */
.highlight .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #CC3300 } /* Literal.String.Heredoc */
.highlight .si { color: #AA0000 } /* Literal.String.Interpol */
.highlight .sx { color: #CC3300 } /* Literal.String.Other */
.highlight .sr { color: #33AAAA } /* Literal.String.Regex */
.highlight .s1 { color: #CC3300 } /* Literal.String.Single */
.highlight .ss { color: #FFCC33 } /* Literal.String.Symbol */
.highlight .bp { color: #336666 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #003333 } /* Name.Variable.Class */
.highlight .vg { color: #003333 } /* Name.Variable.Global */
.highlight .vi { color: #003333 } /* Name.Variable.Instance */
.highlight .il { color: #FF6600 } /* Literal.Number.Integer.Long */