
<h2>All Tags</h2>

<!-- Open Issue#8 https://github.com/hasturhu/hasturhu.github.io/issues/8 -->

<!-- {% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  <a href="/tag/{{ tagname }}"><code class="highligher-rouge"><nobr>{{ tagname }}</nobr></code></a>
{% endfor %} -->

<!-- {% for post in site.posts %}
{% if post.tags.size > 0 %}
  {% for tag in post.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
{% endif %}
{% endfor %} -->

{% for post in site.posts %}
    {% for tag in post.tags %}
        {% assign tagcloud = tagcloud | append:tag | append:', ' %}
    {% endfor %} 
{% endfor %} 
 
{% assign tagcloud = tagcloud | split:", " | uniq | sort %}

{% for tag in tagcloud %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <div>
        <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
    </div>
{% endfor %}