---
layout: default
---
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
  <!-- linkedin_links: -->
  <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="asterhu"><a class="LI-simple-link" href='https://ca.linkedin.com/in/asterhu?trk=profile-badge'>Aster Hu</a></div>

</div>
