---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}<br>
  <!-- add tags in metadata -->
  <!-- {% if page.tags.size > 0 %}
  Tag{% if page.tags.size > 1 %}s{% endif %}:
  {{ page.tags | sort | join: ", " }}
  {% endif %} -->
  </span>
  <span class="post-tag">
    {% if page.tags.size > 0 %}
    Tag{% if page.tags.size > 1 %}s{% endif %}:
      {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          [<a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>]
      {% endfor %}
    {% endif %}
  </span>
  {{ content }}
</div>

{% if page.comments_id %}
  {% include comments.html %}
{% endif %}

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url | absolute_url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}